.sorting{
    display: flex;
    justify-content: center;
    align-items: center;
    
    select{
        margin-right: 5px;
        border: 2px solid rgb(0, 172, 172);
        color: rgb(0, 172, 172);
    }
    h2{
        color: rgb(0, 172, 172);
        text-transform: uppercase;
        letter-spacing: 0.06rem;
        cursor: pointer;
    }
}